{% extends "base.html" %}
{% load static %}

{% block title %}
  Product List - Django App
{% endblock %}

{% block content %}
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .blue-text {
      color: #3498db;
    }

    .table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 16px;
      text-align: left;
    }

    .table th,
    .table td {
      padding: 12px 15px;
      border-bottom: 1px solid #ddd;
    }

    .table th {
      background-color: #3498db;
      color: #fff;
    }

    .table tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>

  <div class="container">
    <h1 class="blue-text">Product List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Calories</th>
          <th>Total Fat</th>
          <th>Fiber</th>
          <th>Protein</th>
          <th>Phenylalanine</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.calories }}</td>
            <td>{{ product.total_fat }}</td>
            <td>{{ product.fiber }}</td>
            <td>{{ product.protein }}</td>
            <td>{{ product.phenylalanine }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
