{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Django App
    {% endblock %}
  </title>
  
  <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}"> 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
</head>
<body>
  <div class="wrapper">
    <form action="/register/" method="post">
        {% csrf_token %}
        <h1> Register </h1>
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <div class="input-box">
          <input type="text" name="email" placeholder="Your Email:" required>
          <i class='bx bx-envelope' ></i>
        </div>
        <div class="input-box">
          <input type="text" name="username" placeholder="Username" required>
          <i class='bx bxs-mask' ></i>
        </div>

        <div class="input-box">
          <input type="text" name="name" placeholder="First Name" required>
          <i class='bx bxs-user'></i>
        </div>

        <div class="input-box">
          <input type="text" name="lastName" placeholder="Last Name" required>
          <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
          <input type="text" name="phoneNumber" placeholder="Phone number" required>
          <i class='bx bxs-phone'></i>
        </div>
        <div class="input-box">
          <input type="date" name="birthday" placeholder="Birthday" required>
          <i class='bx bx-calendar' ></i>
        </div>

        <div class="input-box">
          <input type="password" name="password" placeholder="Password" required>
          <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="input-box">
            <input type="password" name="repeat_password" placeholder="Repeat password" required>
            <i class='bx bxs-lock-alt'></i>
          </div>
        
        <div class="login-link">
          <p> Already registered? <a href="{% url 'login' %}"> Login! </a></p>
        </div>
       
        <button type="submit" class="btn btn-primary custom-button"> Register </button>
        
    </form>
  </div>
  
</body>
</html>
